In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('submission.csv')
df2=pd.read_csv('submission1.csv')
df3=pd.read_csv('submission2.csv')

In [3]:
df4=df1
df4['target']=0.4*df1['target']+0.2*df2['target']+0.4*df3['target']

In [4]:
df4.to_csv('sub8.csv',index=False)

In [5]:
import numpy as np

In [6]:
df4=df1
df4['target2']=df2['target']

In [7]:
df4.corr()

               id    target   target2
id       1.000000  0.012670  0.009879
target   0.012670  1.000000  0.910191
target2  0.009879  0.910191  1.000000